<div class="post">
    <h2 class="post_title">
        {{ user.firstName }} {{ user.lastName }}
    </h2>
    <p class="post_info">
        User since: {{ user.createdAt | date('F jS, Y') }}
    </p>
    <p class="post_info">
        Email: {{ user.email }}
    </p>
    <p class="post_info">
        Number of sessions: {{ user.sessions | length }}
    </p>
    <br/>
    <div class="post_body">
       <span>Active Sessions:</span>
       <br><br>
       <ul>
       {% for key, session in user.sessions %}
          <li>
             <div class="sessiontitle">{{ session.title }}</div>
             Number of verses: {{ session.sessionverses|length }}
                <ul>
                    {% for key, sessionverse in session.sessionverses %}
                    <li id="lineverse-{{ key }}">
                        <div class="versetext {% if sessionverse.Recitedyesno == 'yes' %} yesrecited {% else %} notrecited {% endif %}">"{{ sessionverse.verse.versetext }}"</div>
                        <div class="versenumber">{{ sessionverse.verse.chapter.book.title }} {{ sessionverse.verse.chapter.chapternum }}:{{ sessionverse.verse.versenum }}</div>
                        <div class="button"><a class="ajax_link" href="{{ path( 'MemorizeScripture_addRecitation' , { 'id' : sessionverse.id, '_format': "json" } ) }}"><div class="buttontooglex {% if sessionverse.Recitedyesno == 'yes' %} aread {% else %} yread {% endif %}"></div></a></div>
                    </li>
                    {% endfor %}
                <ul>
                <div>
                    {#% render "MemorizeScriptureBundle:Tracker:displayTodayVerses" %#}
                <div>
          </li>
       {% endfor %}
       </ul>
    </div>
</div>
